/* For content1 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar {
  box-shadow: 0 1px 5px #00000042;
  background-color: #fffe;
}

.hero {
  height: 90vh;
  box-shadow: 0 1px 10px #0000008d;
}

.hero .slides img {
  height: 90vh;
  object-fit: cover;
}

.content1 .row .content-heading {
  font-family: "Dancing Script", cursive;
}

.content1 .row {
  height: 20rem;
}

.content1 .row div img {
  width: 100%;
  max-width: 400px;
}

.content2 {
  min-height: 400px;
  padding: 2rem 1rem;
  margin: auto;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2ebf0 100%);
}

.content2 .row {
  width: 100%;
}

.content2 .card {
  /* min-height: 300px; */
  max-width: 400px;
  object-fit: cover;
}

footer {
  min-height: 200px;
  color: #fff;
  background-color: #232323;
  padding: 1rem 0.5rem;
}

footer ul {
  list-style: none;
}

.ff-averia {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.brand-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.brand-name img {
  width: 30px;
  object-fit: contain;
}

.brand-name span {
  font-size: 1.2rem;
  font-family: var(--bs-font-sans-serif);
}

.vertical-hr {
  rotate: 90deg;
  border: 1px solid #000;
  width: 20px;
  padding: auto;
}
